---
---

* {
	font-family: 'Lora', monospace;
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;

	--normal-color: #424242;
	--normal-color-text: #616161;
	--normal-color-focus: #000000;
	--normal-color-focusable: #808080;
	--normal-background: #FFFFFF;
	--normal-background-dark: #F5F5F5;
	--normal-background-darker: #E0E0E0;
	--normal-overlay: rgba(255, 255, 255, 0.7);
	--normal-outline: #BDBDBD;
	--normal-outline-dark: #000000;
	--normal-focus: rgba(0, 0, 0, 0.1);
	--normal-focus-light: rgba(0, 0, 0, 0.03);
	--accent-color: #0091EA;
	--accent-color-text: #0067A4;
	--accent-background: #0091EA;
	--accent-outline: #0091EA;
	--accent-outline-fade: rgba(0, 72, 117, 0.3);
	--accent-outline-fade2: rgba(0, 72, 117, 0.5);
	--accent-inverse: #FFFFFF;
	--image-brightness-focus: 0;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.--noanim {
	animation: none;
}

.--noanim>* {
	animation: none;
}

body {
	margin: 0;
	background-color: #FFFFFF;
	background-color: var(--normal-background);
	color: #424242;
	color: var(--normal-color);

	word-wrap: break-word;
	word-break: break-word;

	transition: background-color .25s;
	-moz-transition: background-color .25s;
	-webkit-transition: background-color .25s;
}

body.--dialog {
	overflow: hidden;
}

p {
	color: #616161;
	color: var(--normal-color-text);
}

a {
	cursor: pointer;
	outline: none;
	color: #0091EA;
	color: var(--accent-color-text);
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

a:hover, a:focus {
	color: #000000;
	color: var(--normal-color-focus);
}

a:focus {
	text-decoration-color: transparent;
	font-weight: bold;
}

.material-icons.--focusable {
	color: #808080;
	color: var(--normal-color-focusable);

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.material-icons.--focusable:hover {
	color: #000000;
	color: var(--normal-color-focus);
}

.material-icons.--clickable {
	user-select: none;
	cursor: pointer;
}

@import "elements/img.scss";
@import "elements/banner.scss";
@import "elements/dialog.scss";
@import "elements/paper.scss";
@import "elements/paginator.scss";
@import "elements/title.scss";
@import "elements/link.scss";

main {
	display: block;
	margin-left: calc(20vw - 50px);
	margin-right: calc(20vw - 50px);
	margin-bottom: 2em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}
