---
layout: default
---

<main>
	<h3 class="title">{{ page.title }}</h3>
	<a class="img__container--wide" href="{{ site.url }}{{ page.image }}" target="_blank">
		<img class="img--wide" src="{{ site.url }}{{ page.image }}">
	</a>
	<div class="paginator">	
		{% assign comics = site.comics | sort: "hash" %}
		{% assign first = comics | first %}
		<a class="paginator__icon{% if first.url == page.url %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ first.url }}">
			<i class="material-icons">first_page</i>
		</a>
		{% assign previousNum = page.hash | minus: 2 %}
		{% if previousNum >= 0 %}{% assign previous = comics[previousNum] %}{% endif %}
		<a class="paginator__icon{% if previous %}{% else %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ previous.url }}">
			<i class="material-icons">navigate_before</i>
		</a>


		<span class="paginator__text">{{ page.hash | plus: 0 }} of {{ site.comics.size }}</span>

		{% assign nextNum = page.hash | plus: 0 %}
		{% assign next = comics[nextNum] %}
		<a class="paginator__icon{% if next %}{% else %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ next.url }}">
			<i class="material-icons">navigate_next</i>
		</a>

		{% assign last = comics | last %}
		<a class="paginator__icon{% if last.url == page.url %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ last.url }}">
			<i class="material-icons">last_page</i>
		</a>
	</div>
	<br><br>
	{% include comments.html %}
</main>
