---
layout: default
---

<main>
	<h3 class="title --content">{{ page.title }}</h3>
	<div class="comic--wide --content">
		{% for image in page.images %}
		<a class="comic--wide__panel" href="{{ site.url }}{{ image }}" target="_blank">
			<img class="comic--wide__panel__img" src="{{ site.url }}{{ image }}">
		</a>
		{% endfor %}
	</div>

	{% include paginator.html pages=site.comics hash=page.hash %}

	<br>
	<div class="--content">
		{{ content }}
	</div>
	<br>
	{% include comments.html %}
</main>
