---
layout: default
---

<a href="{{ site.url }}" class="banner"><h1 class="banner__container"><img class="banner__icon" src="{{ site.url }}/images/favicon.svg">&nbsp;<span class="banner__name">{{ site.name }}</span></h1></a>

<main>
	<div class="paper">
		{% for i in (page.start..page.end) %}
		{% assign comic = site.comics | where: "slug", i | first %}
		<a class="paper__item" data-url="{{ comic.url }}"><h4 class="paper__item__title">{{ comic.title }}</h4><img class="img paper__item__image" src="{{ site.url }}{{ comic.image }}"></a>
		{% endfor %}
	</div>
	<div class="paginator">
		{% assign first = site.pages | first %}
		<a class="paginator__icon{% if first.url == page.url %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ first.url }}">
			<i class="material-icons">first_page</i>
		</a>
		{% assign previousNum = page.slug | minus: 1 %}
		{% assign previous = site.pages | where: "slug", previousNum | first %}
		<a class="paginator__icon{% if previous %}{% else %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ previous.url }}">
			<i class="material-icons">navigate_before</i>
		</a>

		<span class="paginator__text">{{ page.slug }} of {{ site.pages.size }}</span>
		
		{% assign nextNum = page.slug | plus: 1 %}
		{% assign next = site.pages | where: "slug", nextNum | first %}
		<a class="paginator__icon{% if next %}{% else %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ next.url }}">
			<i class="material-icons">navigate_next</i>
		</a>
		{% assign last = site.pages | last %}
		<a class="paginator__icon{% if last.url == page.url %} paginator__icon--disabled{% endif %}" href="{{ site.url }}{{ last.url }}">
			<i class="material-icons">last_page</i>
		</a>
	</div>
	<div id="comic_dialog" class="dialog dialog--hidden">
		<a id="comic_close" class="dialog__close"><i class="material-icons">close</i></a>
		<iframe id="comic_iframe" class="dialog__content"></iframe>
	</div>
</main>

<script>
	var dialogElement = document.getElementById("comic_dialog");
	var dialogCloseElement = document.getElementById("comic_close");
	var dialogComicElement = document.getElementById("comic_iframe");
	var comics = document.getElementsByClassName("paper__item");

	var f = function() {
		dialogElement.classList.add("dialog--hidden");
	};

	dialogCloseElement.addEventListener("click", f);
	dialogElement.addEventListener("click", f);

	for (var i in comics) {
		if (!comics[i] || !comics[i].addEventListener)
			continue;
		
		comics[i].addEventListener("click", function() {
			dialogComicElement.src = "{{ site.url }}" + this.getAttribute("data-url");
			dialogElement.classList.remove("dialog--hidden");
		});
	}
</script>
