.banner {
	display: block;
	margin: 0;
	padding: 1em;
	color: #000;
	text-decoration: none;
}

.banner__container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(3vw + .6em);
}

.banner__icon {
	height: 2em;
	width: auto;
}