.banner {
	display: block;
	margin: 0;
	padding: 1em 2em;
	color: #000;
	text-decoration: none;
}

.banner__container {
	display: flex;
	align-items: center;
}

.banner__icon {
	height: 2em;
	width: auto;
}