.dialog {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	opacity: 1;
	transition: opacity .25s;
}

.dialog--hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s, visibility 0s .25s;
}

.dialog__close {
	position: absolute;
	top: calc(10% + 16px);
	right: 16px;
	z-index: 2;
	user-select: none;
	padding: 16px;

	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	transition: background-color .25s;
}

.dialog__close:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.dialog__close > .material-icons {
	display: block;
	transition: transform .25s;
}

.dialog__close:hover > .material-icons {
	transform: rotate(90deg);
}

.dialog__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	width: 100%;
	height: 90%;
	background-color: #FFF;
	border-radius: 8px;
}

@media(min-width: 1000px) {
	.dialog {
		padding: calc(4vw + 24px) calc(10vw + 24px);
	}

	.dialog__close {
		top: calc(4vw + 40px);
		right: calc(10vw + 40px);
	}

	.dialog__content {
		position: unset;
		height: 100%;
		border-radius: 8px;
		box-shadow: 0 0.4em 3.2em rgba(0, 0, 0, 0.33);
	}
}
