.dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	padding: calc(10vw + 64px);
}

.dialog--hidden {
	display: none;
}

.dialog__close {
	position: absolute;
	top: calc(10vw + 96px);
	right: calc(10vw + 96px);
}

.dialog__content {
	border: none;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	border-radius: 15px;
}
