.paper {
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 1em;
	justify-content: stretch;
	align-items: stretch;
}

.paper__item {
	display: inline-block;
	position: relative;
}

.paper__item__title {
	margin: 0;
	text-align: left;
	text-align: start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1em;
	position: absolute;
	top: .5em;
	left: 1em;
	right: 1em;
}

.paper__item__image {
	min-width: calc(100% - .5em);
	min-height: calc(100% - .5em);
}
